body {
	margin: 0;
	font-family: Oswald, Helvetica, sans-serif;
}

header {
    
	background-color: #005555;
	color: #A1E3D8;
	padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

nav {
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: #005555;
    border-bottom: solid 15px #F7FF93;
    display: block;
    
}

nav a {
    float: left;
    display: block;
    color: #A1E3D8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #F7FF93;
    color: #005555;
}

main {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

#container {
    position: relative;
    top: 25vh;
}

#home-text {
    width: 40vw;
    display: block;
    margin: auto;
    text-align: center;
}

#gate {
    z-index: -1;
    position: absolute;
    left: 4vw;
    top: -31vh;
    display: block;
    margin: auto;
    width: 80vw;
    height: 80vh;
}

.home-btns {
    margin: auto;
    width: 40vw;
    display: grid;
    grid-template-columns: auto auto;
}

.button {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100px;
    border: solid 2px rgb(95, 95, 95);
    transition: 0.3ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    border-radius: 10%;
    margin: auto;
    padding: 10px;
    background-color: #069A8E;
    color: black;
}

.button:hover {
    background-color: #F7FF93;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
    color: black;
}

.button:active {
    box-shadow: inset 0px 0px 8px 0px rgb(37, 37, 37);
}

footer {
    background-color: #005555;
    position: static;
    display: block;
    bottom: 0px;
    width: 100%;
    bottom: 0px;
    height: 5vh;
    margin-top: 15vh;
}

footer p {
    color: #A1E3D8;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    font-size: .75em;
}

footer a {
    text-decoration: none;
    color: #A1E3D8;
}

footer a:hover {
    text-decoration: underline;
}

/* ABOUT PAGE */

#aboutImg {
    float: left;
    margin: 30px;

}

#aboutText {
    width: 50vw;
    display: block;
    margin: auto;
    text-align: left;
}