<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BioSite About</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="../style/main.css" />
		<meta name="color-scheme" content="dark" />
	</head>
	<body>
		<nav>
			<a href="../view/home.html">Home</a>
			<a href="#">About</a>
			<a href="./hobbies.html">Hobbies</a>
		</nav>
		<main>
			<br />
			<img src="../imgs/Josh 3.jpeg" alt="" id="aboutImg" />
			<div id="aboutText">
				<h2><strong>Joshua Kreifels, who and what is he?</strong></h2>
				<hr />
				<p style="font-size: 20px">
					He is an astounding software engineer and workaholic. He prides himself on his
					knowledge and is not afraid of learning. Josh is also a devote Christian; he
					could not see himself without a relationship with Jesus. On August 10th, 1995,
					Joshua was born in Council Bluffs, Iowa. He was the fifth child. His father was
					a software engineer, and his mother stayed at home and taught all the children.
					Although being homeschooled his entire life, Joshua was never lonely. He had
					eleven siblings, which meant there was always someone to talk to. Joshua played
					football and competed in debate and speech throughout middle school and high
					school. He was always athletic, being the best on his team. At home, Joshua
					worked out for an hour six days a week. He started this regime with his father.
					Joshua won many awards during his debate career and even competed in nationals.
					He was constantly researching and gathering evidence—Building massive folders
					and binders of information. That way, he was preparing for anything. After high
					school Josh attended college for a few years; he swapped his major a couple of
					times, never landing on a subject that resonated with him. He worked at FedEx
					Freight as a dock worker/forklift operator during this time. He eventually
					decided to try computer programming because that was the work most of his
					siblings were in. After that, Josh was hooked! He was researching and
					programming whenever he could. He knew that this career was made for him. It was
					because programming requires logical thinking and research, both of which he
					used and enjoyed during the debate. After about a year, he was looking for
					full-time software development positions. He no later found a job at talent
					plus. He loves the work that he is doing and his coworkers. He is now more
					content in his life than he has ever been. Currently, Josh still exercises for
					around one to two hours a day. He bikes in the morning at around 4 am, and on
					the weekends, he weights lift. He has stated that he would be bored if he were
					not working out. Josh also believes that if he works out now, he will be in
					great shape when he is 100 years old saying that he will be able to take on any
					challenge that he may face.
				</p>
			</div>
		</main>
		<footer>
			<p>Justin Kreifels</p>
			<p>-</p>
			<p><a href="bellevue.edu" target="_blank">Bellevue University</a></p>
			<p>-</p>
			<p>
				&copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
			</p>
		</footer>
	</body>
</html>
