<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BioSite Hobbies</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="../style/main.css" />
		<meta name="color-scheme" content="dark" />
	</head>
	<body>
		<nav>
			<a href="../index.html">Home</a>
			<a href="./about.html">About</a>
			<a href="#">Hobbies</a>
		</nav>
		<main>
			<h1>Joshua's Top Hobbies Ranked</h1>
			<hr style="width:100%;text-align:left;margin-left:0"> 
			<section class="_1SP8R j9XKR AIDOf">
				<div style="flex-direction: column; padding-top: 0px">
					<div class="row">
						<article class="._8Rm4L .bLWKA .M9sTE">
							<img
								class="hobbyPic _1SP8R"
								src="../imgs/181066888_2875939532661872_8128525342430533850_n.jpg"
								alt=""
							/>
							<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Josh loves working out</p>
						</article>
					</div>

					<div class="row">
						<article class="._8Rm4L .bLWKA .M9sTE">
							<img
								class="hobbyPic _1SP8R"
								src="../imgs/Josh 2.jpeg"
								alt=""
							/>
							<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Playing games with his bros</p>
						</article>
					</div>

					<div class="row">
						<article class="._8Rm4L .bLWKA .M9sTE">
							<img
								class="hobbyPic _1SP8R"
								src="../imgs/208327220_2969166326673362_5359496569781788958_n.jpg"
								alt=""
							/>
							<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Walking</p>
						</article>
					</div>

					<div class="row">
						<article class="._8Rm4L .bLWKA .M9sTE">
							<img
								class="hobbyPic _1SP8R"
								src="../imgs/279012440_738152497351398_578778162793890550_n.jpg"
								alt=""
							/>
							<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Going for Sunday drives</p>
						</article>
					</div>

					<div class="row">
						<article class="._8Rm4L .bLWKA .M9sTE">
							<img
								class="hobbyPic _1SP8R"
								src="../imgs/121205632_811798696301702_10131645716678757_n.jpg"
								alt=""
							/>
							<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Running Marathon</p>
						</article>
					</div>

					<div class="row">
						<article class="._8Rm4L .bLWKA .M9sTE">
							<img
								class="hobbyPic _1SP8R"
								src="../imgs/computer_science.jpg"
								alt=""
							/>
							<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Computer programming</p>
						</article>
					</div>

					<div class="row">
						<article class="._8Rm4L .bLWKA .M9sTE">
							<img
								class="hobbyPic _1SP8R"
								src="../imgs/66876-aaron-burden-426280-unsplash.1200w.tn.jpg"
								alt=""
							/>
							<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Reading the Bible</p>
						</article>
					</div>
				</div>
				<div id="home-text"></div>
			</section>
		</main>
		<footer>
			<p>Justin Kreifels</p>
			<p>-</p>
			<p><a href="bellevue.edu" target="_blank">Bellevue University</a></p>
			<p>-</p>
			<p>
				&copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
			</p>
		</footer>
	</body>
</html>
